#blanketImage {
  /* position: absolute; */
  /* top: 440px; */
  margin-left: 0px;
  height: 120vh;
  width: 1300px;
  size: cover;
}

#firstImage {
  position: absolute;
  top: 440px;
  margin-left: 0px;
  width: 300px;
}

#firstImage:hover {
  content: url("../images/workshops_titleResized.png");
}

#secondImage {
  position: absolute;
  top: 320px;
  width: 220px;
  margin-left: 80px;
}

#secondImage:hover {
  content: url("../images/contacttheartists_titleResized.png");
}

#thirdImage {
  position: absolute;
  top: 300px;
  width: 360px;
  margin-left: 70px;
}

#thirdImage:hover {
  content: url("../images/performancesforobjects_titleResized.png");
}

#celloImage {
  position: absolute;
  top: -20px;
  width: 300px;
}

#fourthImage {
  position: absolute;
  top: 220px;
  width: 280px;
  margin-left: 220px;
}

#fourthImage:hover {
  content: url("../images/aboutthecreator_titleResized.png");
}

#fifthImage {
  position: absolute;
  top: 280px;
  margin-left: 110px;
  width: 180px;
}

#fifthImage:hover {
  content: url("../images/soundtracksforsofas_titleResized.png");
}

#sixthImage {
  position: absolute;
  top: -10px;
  width: 320px;
  margin-left: 480px;
}

#aboutprojectImage {
  position: absolute;
  top: -130px;
  width: 340px;
}

/* RESPONSIVENESS */
@media screen and (min-width: 1601px) {
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 734px) and (max-width: 767px) {
  #firstImage {
    top: -340px;
    margin-left: 110px;
    width: 200px;
  }

  #secondImage {
    top: -160px;
    width: 180px;
  }

  #celloImage {
    top: -100px;
    width: 150px;
    margin-left: -20px;
  }

  #fourthImage {
    top: -60px;
    width: 220px;
  }

  #fifthImage {
    top: 45px;
    margin-left: 280px;
    width: 140px;
  }

  #aboutprojectImage {
    top: -50px;
    width: 140px;
  }
}

@media screen and (min-width: 684px) and (max-width: 733px) {
  .child {
    margin-top: 240px;
  }

  #firstImage {
    top: -180px;
    margin-left: 10px;
    width: 200px;
  }

  #secondImage {
    top: -160px;
    width: 180px;
  }

  #celloImage {
    top: -100px;
    width: 150px;
    margin-left: -20px;
  }

  #fourthImage {
    top: -60px;
    width: 220px;
  }

  #fifthImage {
    top: 60px;
    margin-left: 280px;
    width: 140px;
  }

  #aboutprojectImage {
    top: -40px;
    width: 140px;
  }
}

@media screen and (min-width: 667px) and (max-width: 683px) {
}

@media screen and (min-width: 412px) and (max-width: 666px) {
  #firstImage {
    top: -180px;
    margin-left: 10px;
    width: 200px;
  }

  #secondImage {
    top: -160px;
    width: 180px;
  }

  #celloImage {
    top: -100px;
    width: 150px;
    margin-left: -20px;
  }

  #fourthImage {
    top: -60px;
    width: 220px;
  }

  #fifthImage {
    top: 60px;
    margin-left: 140px;
    width: 140px;
  }

  #aboutprojectImage {
    top: 120px;
    width: 10px;
  }
}

@media screen and (min-width: 375px) and (max-width: 411px) {
  #blanketImage {
    margin-left: 0px;
    height: 50vh;
    width: 374px;
  }

  #firstImage {
    top: 590px;
    width: 180px;
    margin-left: -20px;
  }

  #secondImage {
    top: 430px;
    width: 135px;
    margin-left: -25px;
  }

  #thirdImage {
    top: 520px;
    width: 210px;
    margin-left: -83px;
  }

  #fourthImage {
    top: 300px;
    margin-left: 185px;
    width: 160px;
  }

  #fifthImage {
    top: 300px;
    margin-left: -170px;
    width: 130px;
  }

  #sixthImage {
    position: absolute;
    top: -5px;
    width: 240px;
    margin-left: 70px;
  }
}

@media screen and (min-width: 220px) and (max-width: 374) {
}
