.description h1 {
  font-size: 16px;
}
/* Photo and description section start */
@media screen and (min-width: 667px) and (max-width: 2400px) {
  .photoAndDescription {
    display: flex;
    flex-direction: row;
  }
}

#soundtrackPhoto {
  width: 60%;
  margin-top: 40px;
}

.description h1 {
  padding: 25px;
}

@media screen and (min-width: 1601px) and (max-width: 2400px) {
  .photoAndDescription {
    margin-top: 40px;
  }

  .photo {
    width: 40%;
  }
  #soundtrackPhoto {
    width: 60%;
    margin-top: 0px;
  }
  .description {
    width: 60%;
    display: flex;
    align-items: center;
  }
  .description h1 {
    padding: 120px;
  }
}

@media screen and (min-width: 667px) and (max-width: 1600px) {
  .photo {
    width: 40%;
  }
  #soundtrackPhoto {
    width: 85%;
    margin-top: 0px;
  }
  .description {
    width: 60%;
    display: flex;
    align-items: center;
  }
  .description h1 {
    padding: 45px;
  }
}

@media screen and (min-width: 1601px) and (max-width: 2400px) {
  .photoAndDescription {
    margin-top: 40px;
  }
  #soundtrackPhoto {
    width: 55%;
  }
  .description h1 {
    margin: 0px 260px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .photoAndDescription {
    margin-top: 40px;
  }
  #soundtrackPhoto {
    width: 75%;
  }
  .description h1 {
    margin: 0px 120px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .photoAndDescription {
    margin-top: 40px;
  }
  .description p {
    padding: 60px;
  }
}

/* Photo and description section end */
