/* body {
  background-color: #e5989b !important;
} */

.soundtracks {
  background-color: #e5989b !important;
}

.soundtracks {
  display: flex;
  flex-direction: row;
}

.tracksList {
  margin-top: 80px;
}
