.tracks1 .track1 {
  background-color: #a4cfc5;
}

.tracks1 .track1:hover {
  background-color: #d95959;
  border-style: solid;
  border-width: 2px;
}

@media screen and (min-width: 1601px) and (max-width: 2400px) {
  .tracks1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .track1 {
    width: 40%;
  }
}

@media screen and (min-width: 734px) and (max-width: 1600px) {
  .tracks1 {
    display: flex;
    flex-direction: row;
  }

  .track1 {
    width: 50%;
  }
}

.test audio::-webkit-media-controls-panel {
  height: 60px;
  background-color: #a4cfc5;
  border-radius: 0px;
  transition: opacity 0.3s;
}

.test audio::-webkit-media-controls-panel:hover {
  background-color: pink;
}

.test audio::-webkit-media-controls-play-button {
  -webkit-appearance: media-play-button;
  display: flex;
  flex: none;
  border: none;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: 9px;
  margin-right: 9px;
  padding: 0;
  background-color: initial;
  color: yellow;
}

/* .test {
  background-color: yellowgreen;
} */

/* .player-wrap {
  position: relative;
  background-color: yellowgreen;
} */

.react-player {
  background-color: #d95959;
}
