/* Photo and description section start */
#workshopPhoto {
  width: 40%;
  margin-top: 40px;
}

@media screen and (min-width: 1601px) and (max-width: 2400px) {
  .workshopPhoto {
    width: 40%;
  }
  #workshopPhoto {
    width: 75%;
    margin-top: 0px;
  }
}

@media screen and (min-width: 667px) and (max-width: 1600px) {
  .workshopPhoto {
    width: 40%;
  }
  #workshopPhoto {
    width: 60%;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1601px) and (max-width: 2400px) {
  .workshopPhoto {
    margin-top: 40px;
  }
  #workshopPhoto {
    width: 55%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  #workshopPhoto {
    width: 55%;
  }
}

/* Photo and description section end */

#doors {
  width: 60%;
  margin-right: 40px;
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  #doors {
    margin-top: 30px;
    margin-left: 240px;
    width: 20%;
  }
}
